body{
    height: 100vh;
    vertical-align: middl;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content{
    width: 360px;
    height: 360px;
    background: #000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin: 100px auto;
    text-align: center;

}
.content span{
    background: url(baron.jpg);
    height: 100%;
    background-size: 368px;
    left: 0;
    background-repeat: no-repeat;
    position: absolute;
    transition: 3s;
}

.content span:nth-child(1){
    z-index:10;
    width: 25%;
    transition-delay:.5s;
}

 .content span:nth-child(2){
    z-index: 9;
    width: 50%;
    transition-delay: 1s;

}

.content span:nth-child(3){
    z-index: 8;
    width: 75%;
    transition-delay: 1.5s;

}

.content span:nth-child(4){
    z-index: 7;
    width: 100%;
    transition-delay: 2s;
    

} 

.content:hover span  {
    transform: translateY(-100%);
    transition: 3s;

}


.content:hover span:nth-child(1) {
      
    transition-delay: 0.5s;

}

.content:hover span:nth-child(2) {
      
    transition-delay: 1s;

}

.content:hover span:nth-child(3) {
      
    transition-delay: 1.5s;

}

.content:hover span:nth-child(4) {
      
    transition-delay: 2s;

}
#p{
   
    color: white;
    text-align: center;
    height: 33%;
    width: 100%;
    background-color: rgba(101, 100, 100, 0.5);
     margin-top: 200px;
     border-top-right-radius: 50%;
     border-top-left-radius:50%;
     /* border-radius: 10px; */
     
     
   
}

.div{
    height:100%;
    /* background: rgb(203, 68, 187); */
    /* background-color: gray; */
    background: url("img/t4 (1).jpeg");
    transition: 3s;
    position: absolute;
    background-size: cover;
    left: 0;
    color: whitesmoke;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
} 
h2{
    color: white;
    text-align: center;
}

/* div .p{
    color: white;
    text-align: center;
} */

h1{ 
    font-size: 20px;
   
}


.content:hover .div{
    
   transform:translateY(0%);
    transition-delay:3s;
   
}   
.gee{width: 100%;
     height: 130px;
     /* background: rgb(255, 4, 4); */
     /* background-color: rgb(255, 70, 70); */
     background-color: rgb(0, 208, 255);
     position: absolute;
     top: 0;
     padding-top: 30px;
     margin:0 auto;
     border-radius: 10px;
     border-top-right-radius: 0;
     border-top-left-radius: 0;
     text-align: center;
     margin-bottom: 100px


}
.w,.h{
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-shadow: -2px -2px 3px rgb(0, 0, 0);
}

.window{
    height: 15px;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-shadow: -2px -2px 3px rgb(0, 0, 0);
    
}

.h3{position: absolute;
    width:150px;
    background-color: rgb(255, 7, 7);
    height:30px ;
    top: 90%;
    left: 50%; 
  
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    z-index: 10;
    border-radius: 10px;
    font-weight:500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 img{
    height:110px;
    position: absolute;
    top: 10%;
    left: 10%;
    color: red;
    transform: translate(-50%, -50%);
  
    
    /* background-color: aqua; */
}

.footer{
    height:10%;
    /* color: rgb(0, 0, 0); */
    background-color: rgb(0, 208, 255);
    /* text-shadow: -2px -2px 1px rgb(117, 116, 116); */
    width: 100%;
    position: absolute;
    -webkit-position:absolute ;
    -webkit-top:100% ;
    -webkit-left:0 ;
    top:100%;
    left: 0;
    font-weight: 500;
    color: rgb(2, 1, 1);
    text-shadow: -1px -1px 1px rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;

}

.e{
    color: white;
    text-shadow: -2px -2px 1px rgb(0, 0, 0)
}